
<div class="row text-center">
  <div>
    <div class="dotted-border">
      <h1 class="hero">TECHTANNICA</h1>
      <h3 class="sub-hero">Social, Markdown Wikis.</h3>
      <% if user_signed_in? %>
      <br></br>
      <button type="button"><%= link_to "New", new_wiki_path  %></button>
      <button type="button"><%= link_to "Browse", wikis_path  %></button>
      <% else %>
      <button type="button"><%= link_to "Sign Up", new_user_registration_path  %></button>
      <% end %>
      <% if current_user.role != "premium" %>
      <button type="button"><%= link_to "Subscribe", new_charge_path  %></button>
      <% else %>
      <button type="button"><%= link_to "Unsubscribe", new_charge_path  %></button>
      <% end %>
      <br></br>
    </div>
  </div>
</div>
