<div class="row">
  <div class="col-md-8">
    <%= form_for @wiki do |f| %>
    <% if @wiki.errors.any? %>
<div class="alert alert-danger">
  <h4><%= pluralize(@wiki.errors.count, "error") %></h4>
  <ul>
    <% @wiki.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
    <%= form_group_tag(@wiki.errors[:title]) do %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
    <% end %>
    <%= form_group_tag(@wiki.errors[:body]) do %>
      <%= f.label :body %>
      <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
    <% end %>
    <div class="col-md-8">
      <% if current_user.admin? || current_user.premium? && @wiki.user_id == current_user.id  %>
      <div class="form-group">
        <%= f.label :private, class: 'checkbox' do %>
        <%= f.check_box :private%> Private wiki
        <% end %>
      </div>
      <% end %>
      <div class="form-group">
        <% if @wiki.private == true %>
        <p>Add a Collaborator</p>
        <% collaborating_user_ids = @wiki.collaborating_user_ids %>
        <%= hidden_field_tag "wiki[collaborating_user_ids][]", nil %>
        <% User.all.each do |user| %>
        <div class="user">
          <%= check_box_tag "wiki[collaborating_user_ids][]", user.id, collaborating_user_ids.include?(user.id) %>
          <%= user.email %>
        </div>
        <% end %>
      </div>
      <% end %>
      <div class="form-group">
        <button><%= f.submit "Save"%></button>
      </div>
    </div>
    <% end %>
  </div>
</div>
