

<div class="row">
  <div class="col-md-4">
    <%= markdown(@wiki.title) %>
    <%= markdown(@wiki.body) %>
  </div>
</div>
<br></br>
<div class="row">
  <div class="col-md-8">
    <button><%= link_to "Edit", edit_wiki_path(@wiki) %></button>
    <button><%= link_to "Delete", @wiki, method: :delete, data: {confirm: 'Are you sure you want to delete this wiki?'} %></button>
  </div>
</div>
<hr></hr>
<div class= "row">
  <div class="col-md-8 user">
    <% if @collaborators.count >= 1 %>
    <h3><%="Collaborators"%></h3>
    <% end %>
    <%= hidden_field_tag "wiki[collaborating_user_ids][]", nil %>
    <% collaborating_user_ids = @wiki.collaborating_user_ids %>
    <% User.all.each do |user| %>
    <% if collaborating_user_ids.include?(user.id) %>
    <p><%= user.email %></p>
    <% end %>
    <% end %>
    <br></br>
    <%= link_to "back", wikis_path %>
  </div>
</div>
</div>
