<%= form_tag charges_path do %>
<% if current_user.role == "standard" %>
<h4>Private</h4>
<script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
<% end %>
<% end %>
<% if current_user.role == "premium" %>
<h3>Downgrade to Techtannica Standard</h3>
<%= button_to "Downgrade", { :controller => "charges", :action => "downgrade"}, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to downgrade?'} %>
<% end %>
